<div id="commentary-show" class="commentary-button">Comment</div>
<form id="commentary-formElement" method="POST">
	<label>Author</label><br/>
	<input id="commentary-author" type="text" name="author"><br>
	<label>Email</label><br/>
	<input id="commentary-email" type="text" name="email"><br>
	<label>Comment</label><br/>
	<textarea id="commentary-comment" name="comment"></textarea><br>

	<div id="commentary-save" class="commentary-button">Save Comment</div>
	<div id="commentary-cancel" class="commentary-button">Cancel</div>
</form>
