{{#comments}}

	<div id="commentary-comment-{{comment_ID}}" data-timestamp="{{timestamp}}">
		<b>{{comment_author}}</b>
		<i>{{comment_date}}</i>
		<span>{{timestamp}}</span>
		<p>{{comment_content}}</p>
	</div>
	
{{/comments}}
